* {
  font-family: cursive;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.title {
  margin: 1rem;
}

.contacts-section {
  font-weight: 100;
  margin: auto;
  margin-top: 3rem;
  width: 400px;
}

.contact {
  font-weight: 100;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
}
.contact-info {
  display: flex;
  justify-content: space-between;
}
.pen {
  color: royalblue;
  transition: all 0.1s;
}
.pen:hover {
  color: rgb(3, 58, 223);
}
.trash {
  color: rgb(250, 123, 123);
  transition: all 0.1s;
}
.trash:hover {
  color: rgb(252, 29, 29);
}
.edit-contact {
  display: flex;
  justify-content: space-between;
}
.edit-input {
  margin: 0.5rem;
}

.icon {
  margin-inline: 0.5rem;
}
.check-btn {
  color: rgb(106, 255, 106);
  transition: all 0.1s;
}
.check-btn:hover {
  color: rgb(39, 250, 39);
}
.close-btn {
  margin: 0.5rem;
  border: none;
  background-color: transparent;
  font-weight: 700;
  color: rgb(250, 123, 123);
  transition: all 0.1s;
}
.close-btn:hover {
  color: rgb(252, 29, 29);
}
